@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant hover (&:hover);  
@theme{
    --font-display: "Archivo", sans-serif;
    --color-primary: #001219;
    --color-secondary: #E02424;

    --breakpoint-xl: 1200px;


}

  @utility container {
  margin-inline: auto;
  width: 100%;
  max-width: 1140px; /* This ensures it stays consistent even if the window wiggles */
  padding-inline: 1.5rem;
}

body { 
  font-family: var(--font-display); 
};